
.h1-style
{
    color:#333369;
}

.h1-colour
{
     color:#707070;
}


@media(max-width: 768px)
{
    .h1-style
    {
        font-size: 21px;
    }

    .h1-colour
{
     color:#707070;
     font-size: 21px;
}
}