.style1
{
   margin-top: 7%;
   color: rgb(163, 155, 170);
   text-align: center;
   
}
.background_image
{
    background-image: url("https://htmldesigntemplates.com/html/eventiz/images/testimonial-1.png");
}
.style2
{
    text-align: left;
    font:36px;
    color:#333369;
}

/* Event.css */
@media (max-width: 768px) {
    .style2 {
        font-size: 1.25rem;
    }
    .background_image {
        padding: 20px;
    }
    .card__shadow {
        margin-bottom: 15px;
    }
}



.button-container {
    display: flex; /* Enables flexbox */
     /* Aligns the button to the left */
    margin-top: 15px; /* Optional: Adds space above the button */
}

.nir-btn {
    padding: 10px 20px; /* Adjust padding for the button */
    font-size: 16px; /* Adjust font size */
    border: none; /* Remove border if not needed */
    border-radius: 5px; /* Optional: Rounded corners */
    background-color: #707070; /* Optional: Button background color */
    color: white; /* Optional: Button text color */
    cursor: pointer; /* Adds a pointer cursor on hover */
}

.nir-btn:hover {
    background-color: #0056b3; /* Optional: Darker background on hover */
}

.general
{
    color: #707070 !important;
}
.general1
{
    color: #333369;
}

@media(max-width: 786px)
{
    
}










@media (max-width: 768px) {
    .style2.general {
      text-align: center;
      
    }
  
    .style2 {
      font-size: 21px; 
    }
  
    .button-container {
      display: flex;
      justify-content: center;
      
    }
    .style3
    {
        display: flex;
        justify-content: center;
    }
    
  }
  