.style_1{
    margin-left: 25px;
    font-weight: 600;
    font-size: 56px;
}

.image-fluid
{
    width:65px;
    height:65px;
    border-radius: 50%;
}

h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
    unicode-bidi: isolate;
}

h2
{
    font-weight: 600;
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    margin: 0 0 1rem;
    color: #333369;
    line-height: 1.22em;
}

body{
    font-size: 16px;
    line-height: 1.5;
    
    overflow-x: hidden;
    font-weight: 400;
    color: #707070;
}

.col-color
{
    background-color: #F8669E;
    color:white;
}


.event-card {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 15px; /* Inner padding */
    background-color: #fff; 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.event-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); 
}
