.header {
    margin-bottom: 30px;
  }
  
  .featured-speaker {
    font-size: 18px;
    font-weight: bold;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
  }
  
  .knowledge {
    color: #ff4081;
  }
  
  .image-card img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .image-card {
    overflow: hidden;
    width: 100%;
  }
  





  
/* .img-fluid
{
    height: 250px;
    width: 250px;
} */

.card-style1
{
   text-align: center;
   color: #F8669E ;
   margin-bottom: 0%;
   line-height: 1.2;
}

/* Add more space between images in general */

  
  /* If needed, adjust margin for the right-side image */
  img.right-image {
    margin-top: 75px;
  }

  .btn_style
  {
    position: relative;
    z-index: 1;
    font-size: 16px;
    text-align: center;
    padding: 15px 25px;
    text-transform: capitalize;
    transition: all ease-in-out 0.5s;
    background: #F8669E;
    color: #fff;
    display: inline-block;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    
  }


  @media(max-width: 768px)
  {
      .card-style1
      {
         font-size: 21px;
      }
  }