.h4_font
{
    font-weight: 600;
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    margin: 0 0 1rem;
     color: #333369; 
    line-height: 1.22em;
    text-align: left  !important;
}

.para
{
    display: block;
   
    
    unicode-bidi: isolate;
    text-align: left  !important;
}

/* .nir-btn
{
    position: relative;
    z-index: 1;
    font-size: 16px;
    text-align: center;
    padding: 15px 25px;
    text-transform: capitalize;
    transition: all ease-in-out 0.5s;
    background: #F8669E;
    color: #fff;
    display: inline-block;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.1);
    overflow: hidden;
} */
 

.button-container {
    display: flex;
  
    margin-top: 15px; 
}

.nir-btn {
    padding: 10px 20px; /* Adjust padding for the button */
    font-size: 16px; /* Adjust font size */
    border: none; /* Remove border if not needed */
    border-radius: 5px; 
    background-color:#F8669E; 
    color: white; 
    cursor: pointer; 
}

.nir-btn:hover {
    background-color: #0056b3; 
}



@media (max-width: 768px) {
    .para {
      text-align: center !important ; 
      font-size: 21px !important;

    }
  
    .button-container {
      display: flex;
      justify-content: center; 
      margin-top: 20px; 
    }
  }
  