.nir-btn, .nir-btn-black {
    position: relative;
    z-index: 1;
    font-size: 16px;
    text-align: center;
    padding: 15px 25px;
    text-transform: capitalize;
    transition: all ease-in-out 0.5s;
    background: #F8669E;
    color: #fff;
    display: inline-block;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.text-colour
{
    color:#707070;
}

/* Default styling for larger screens */
.text-start1 {
    text-align: left;
  }
  
  /* Media query for smaller devices */
  @media (max-width: 768px) {
    .text-start2 {
      text-align: center;
    }
  }
  






  /* Default styling for larger screens */
h2 {
  font-size: 56px;
  text-align: left;
}

/* Media query for small screens (max-width 768px) */
@media (max-width: 768px) {
  h2 {
    font-size: 28px;  /* Adjust font size for smaller screens */
    text-align: center;  /* Center the paragraph */
  }

  /* Optionally, you can adjust other elements like spacing or alignment */
  .text-start1, .text-start2 {
    text-align: center;  /* Center other related elements */
  }
}
