.style-container
{
    min-height: 100vh;
}

.col{
    /* background-color: #707070; */
    /* color: #FFFFFF; */
    font-size: 21px;
   
}

h1{
    color: #FFFFFF;
    font-size: 70PX;
}

.btn-style
{
    background-color: #707070;
}

.search-bar {
  transition: box-shadow 0.3s ease;
}

.search-bar:hover {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
  
}

.p-style{
    margin-left: 1rem;
} 


.price-style{
    color: #707070;
    font-size: 20px;
}

.price1-style{
    color: #707070;
    font-size: 20px;
    text-align: line-through;
    margin-right: 10px;
}

.search-bar {
    height: 50px; /* Match the button height */
    padding: 0 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none; /* Remove right border to blend with button */
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
}

.nir-btn {
    
   position: relative;
    z-index: 1;
    font-size: 16px;
    text-align: center;
    padding: 15px 25px;
    text-transform: capitalize;
    transition: allease-in-out 0.5s;
    background: #F8669E;
    color: #fff;
    display: inline-block;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.1);
    overflow: hidden;
}


.social-media {
    font-size: 16px;
    padding: 15px 25px;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
    background: #F8669E;
    color: #fff;
  
    border-radius: 0;
    border: none;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.1);
    overflow: hidden;
 
}



@media(max-width: 1010px){
    .medium_screen
    {
        margin: auto;
    }

    .text_style_medium
    {
        text-align: center;
    }
}

@media(min-width:1200px)
{
    .text_style_medium

    {
        text-align: left;
    }
}