.style1
{
   margin-top: 7%;
   color: rgb(163, 155, 170);
   text-align: center;
   
}
.background_image
{
    background-image: url("https://htmldesigntemplates.com/html/eventiz/images/testimonial-1.png");
}
.style2
{
    text-align: left;
    font-weight: 600;
}